.caja{
	border: 2px solid black;
	padding: 30px;
}

.claro{
	background-color: #f2f2f2;
}

.oscuro{
	background-color: #C2BBBB;
}


/*#verde{
	background-color: #14ED03;
}

#amarillo{
	background-color: #FAE823;
}

#rosa{
	background-color: #EF5CC4;
}*/